name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: "35 4 */6 * *" # Every 6 days.
  pull_request:
  push:

jobs:
  build-iqtree:
    name: Build or Fetch IQ-TREE 2 Static Library on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-14] # Intel linux, Intel Mac, ARM Mac

    steps:
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
          submodules: "recursive"

      - name: Get IQ-TREE 2 SHA
        run: |
          cd iqtree2
          IQ_TREE_2_SHA=$(git rev-parse HEAD)
          echo "IQ_TREE_2_SHA=${IQ_TREE_2_SHA}" >> $GITHUB_ENV

      - uses: actions/cache@v3
        id: cache
        with:
          key: ${{ matrix.os }}-${{ env.IQ_TREE_2_SHA }}
          path: src/piqtree2/libiqtree/libiqtree2.a
      
      - name: Build IQ-TREE
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            sudo ./build_tools/before_all_linux.sh
          else
            ./build_tools/before_all_mac.sh
          fi

  tests:
    name: Run test suite with Python ${{matrix.python-version}} on ${{matrix.os}}
    needs: build-iqtree
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, macos-14] # Intel linux, Intel Mac, ARM Mac
        python-version: ["3.9", "3.10", "3.11", "3.12"] 
    steps:
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
          submodules: "recursive"

      - uses: "actions/setup-python@v5"
        with:
            python-version: "${{ matrix.python-version }}"
      
      - uses: actions/cache/restore@v3
        with:
          key: ${{ matrix.os }}-${{ env.IQ_TREE_2_SHA }}
          path: src/piqtree2/libiqtree/libiqtree2.a
          fail-on-cache-miss: true

      - name: Run Nox Testing
        run: |
          pip install nox
          nox -s test-${{ matrix.python-version }} -- --cov --cov-report=lcov:${{matrix.os}}-${{matrix.python-version}}.lcov --cov-report=term --cov-append --durations=20
  #     - name: Coveralls Parallel
  #       uses: coverallsapp/github-action@v2
  #       with:
  #         parallel: true
  #         github-token: ${{secrets.github_token}}
  #         flag-name: run-${{matrix.python-version}}-${{matrix.os}}
  #         file: "${{matrix.os}}-${{matrix.python-version}}.lcov"
  # finish:
  #   name: "Finish Coveralls"
  #   needs: tests
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Coveralls Finished
  #     uses: coverallsapp/github-action@v2
  #     with:
  #       github-token: ${{ secrets.github_token }}
  #       parallel-finished: true